body {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 200px;
    margin: 0;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
    font-size: 12px;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.header p {
    font-weight: 600;
}

.content-top {
    background-color: #1f2937;
    color: white;
    display: flex;
    gap: 12px;
    align-items: stretch;
    padding: 20px 200px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.sign-up-title {
    font-size: 24px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.sign-up-text {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 10px;
    border: none;
    margin: 0;
}

.main-image {
    flex-shrink: 0;
    width: 380px;
    height: 150px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image p {
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 12px;
}
