body {
    margin: 0;
    padding: 0 200px;
    font-family: Verdana, Tahoma, sans-serif;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
    font-size: 12px;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.header p {
    font-weight: 600;
}
